<h1>Song Releases</h1>
  <div class="song">
  <% @songs.each do |song| %>
    <%= form_for(song) do |f| %>
    <table>
      <thead>
        <ul>
          <li>
            <h3><%= f.label :title %>:
            <%= song.title %></h3>
          </li>
        </ul>
      </thead>
      <tbody style="cell_padding = 100;">
        <tr>
          <td width = 100></td>
          <td>

            <%= f.label "Artist Name: " %>
            <%= song.artist_name %><br>
            <%= f.label "Genre: " %>
            <%= song.genre %><br>
            <%= f.label "Released: " %>
            <%= song.released %>
            <%= f.label "Year: " %>
            <%= song.release_year %><br>
            <%= f.submit "Update #{song.title}"%>
    <% end %> 
        <%= form_tag song_path(song.id), method: :delete, data: { confirm: "Really?" } do %>
              <%= submit_tag "Delete #{song.title}" %>
        <% end %>
          </td>
        </tr>
          <br>
        </tbody>
    </table>
  <% end %>
</div>